.idea
outputs
venv
npctransport configs
*.png
*.gif
*.svg
*.rmf
*.pickle
!data/scaffold_voxel_map.pickle
*.gz
*.hdf5
*.mp4
*.out
*.pdb
density_test
ChannelsFIg
src/__pycache__
args.txt
args1.txt
argscpy.txt
src/temp_main.py
src/temp_main_school.py
.vscode
src/output/__pycache__/
temp*